<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <%= link_to image_pack_tag('logo/MyAdventure-logos_white.png', style: 'max-height: 100.5px'), root_path, style: ';padding:0px !important;' %>  </div>
    <div id='map' style='width: 800px; height: 700px;margin: auto;'></div>
    <%= javascript_pack_tag 'map'%>
  <div class="w3-display-bottomleft w3-padding-large">
    Very soon!
  </div>
</div>